<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Used to load property "application.name". -->
    <property resource="logging.properties"/>

    <appender name="HUMAN_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/jenova/${application.name}/${application.name}.human.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/jenova/${application.name}/${application.name}.%d{yyyy-MM-dd}.human.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %mdc{logCorrelationId:-} %logger{36} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="ELK_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/jenova/${application.name}/${application.name}.elk.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/jenova/${application.name}/${application.name}.%d{yyyy-MM-dd}.elk.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"${application.name}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="HUMAN_OUT"/>
        <appender-ref ref="ELK_OUT"/>
    </root>

    <logger name="com.pro.jenova" level="DEBUG"/>
    <logger name="com.zaxxer.hikari" level="INFO"/> <!-- switch to DEBUG to see connection pool status -->

</configuration>